*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body,
#root{
  width: 100%;
  height: 100%;
  background-color: #0B0D17;
  color: #FFFFFF;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}