* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "GTSectraDisplay";
  src: url("/agency/public/fonts/GTSectraDisplay-Bold.woff2") format("woff2");
}

html,
body,
#root {
  width: 100%;
  background-color: black;
  color: whitesmoke;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main {
  position: relative;
}

section {
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  padding-top: 3.5rem;

  .nav-elem:nth-child(2) {
    i {
      color: red;
    }
  }

  svg {
    max-width: 6rem;
    width: 100%;
    height: auto;
  }
}

.middle {
  display: flex;
  gap: 16rem;

  .left_container,
  .right_container {
    width: 50%;
  }

  .left_container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-block: 5rem;
  }
}

h1 {
  font-size: 8rem;
  line-height: 0.8;
  font-family: GTSectraDisplay, serif;
  text-align: right;
  letter-spacing: -0.6rem;
}

.buttom {
  display: flex;

  .left,
  .right {
    width: 50%;
    gap: 16rem;
  }

  .right {
    p {
      font-size: 24px;
      line-height: 1.4;
      font-weight: 300;
    }

  h3{
    margin-top: 24px;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.8;
    letter-spacing: 0.01rem;
    color: #A0A8DCB3;
    font-family: hebbo, sans-serif;
  }
  }
}
